*{
  box-sizing: border-box;
}

.email-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: Source Code Pro;
} 
.email-form form{
  width: 50vw;
} 

.email-form input {
  width: 100%;
  transition: 0.5s;
}

.email-form input:focus {
  border: none;
  border-bottom: 2px solid red;
}


.email-form input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid rgb(0,0,0); 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 0.5rem; 
  margin-bottom: 1rem; 
  resize: none;
  transition: 0.2s;  
  font-family: Source Code Pro;
}

.email-form input[type=submit] {
  background-color: rgb(0,0,0);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;  
}

.email-form input[type=submit]:hover {
  background-color: rgb(225, 6, 6);
  
}

.email-form textarea{
  height: 15rem;
}

.email-form .error {
  color: rgb(225, 6, 6);
  display: inline;
  margin-left: 1rem;
  transition: 1s;
}

.email-form input[type=text]::placeholder, textarea::placeholder{
  font-family: Source Code Pro;
  font-size: 0.7rem;
}
