*{
  box-sizing: border-box;
}

.container-repositories{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto Mono;

}

.container-repositories p{
  font-weight: 400;
  margin-bottom: 15px;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.grid-content-repos{
  grid-template-rows: 100px 100px;
  width: 800px;
  margin-top: 5rem;
}
.item{
  border: 1px solid rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: center;
  font-size: 1.5em;
  transition: 0.2s;

  font-family: Roboto Mono ;
  color: rgba(0, 0, 0);

  flex-basis: 45%;
  max-width: 384px;
  max-height: 84px;

}
.item:hover{
  border: 1px solid rgba(175, 7, 7, 1);
  color: rgb(225, 6, 6);
}
.item h3{
  font-size: 1rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-bottom: 0.5rem;
  font-weight: 800;
}
.item p{
  font-size: 0.8rem;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media(max-width: 880px){

  .item p{
      font-size: 0.8rem;
      padding: 0px;
      margin-block-start: 0em;
      margin-block-end: 0em;
  }
  .grid-content-repos{
      grid-template-rows: 100px 100px;
      width: 80vw;
  }
}
@media(max-width:700px){
  .item{
      width: 80vw;
  }
  .grid{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .grid-content-repos{
      grid-template-rows: 100px 100px;
      width: 90vw;
  }
}